<!-- Création d'un fragment common/header.html -->
<header th:fragment="menu">
    <nav>
        <a th:href="@{/home}">Accueil</a>
        <a th:href="@{/products}">Produits</a>
        <a th:href="@{/contact}">Contact</a>
    </nav>
</header>

<!-- layout.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Mon Site</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>
    <header th:replace="common/header :: header"></header>
    
    <main layout:fragment="content">
        <!-- Le contenu de la page sera injecté ici -->
    </main>
    
    <footer th:replace="common/footer :: footer"></footer>
</body>
</html>