<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="${product.reference} == null ? #{product.form.add} :  #{product.form.edit}"></title>
</head>

<body>

    <div th:insert="common/menu :: menu"></div>

    <h1 th:text="${product.reference} == null ? #{product.form.add} : #{product.form.edit}">
    </h1>

    <form th:action="@{/products}" th:object="${product}" method="post">
        <div>
            <label th:text="#{product.reference}">Référence :</label>
            <input type="text" th:field="*{reference}" th:readonly="${product.reference} != null ? true : false" />
            <br /><br />
        </div>

        <div>
            <label th:text="#{product.designation}">Désignation :</label>
            <input type="text" th:field="*{designation}" />
            <br /><br />
        </div>

        <div>
            <label th:text="#{product.quantityStock}">Quantité en stock :</label>
            <input type="number" th:field="*{quantityStock}" />
            <br /><br />
        </div>

        <div>
            <label th:text="#{product.category}">Catégorie :</label>
            <select th:field="*{category}">
                <option value="matériel">matériel</option>
                <option value="logiciel">logiciel</option>
                <option value="mixte">mixte</option>
            </select>
            <br /><br />
        </div>

        <div>
            <label th:text="#{product.alertQuantity}">Quantité d'alerte :</label>
            <input type="number" th:field="*{alertQuantity}" />
            <br /><br />
        </div>

        <div>
            <label th:text="#{product.salePrice}">Prix de vente :</label>
            <input type="number" step="0.01" th:field="*{salePrice}" />
            <br /><br />
        </div>

        <div>
            <label th:text="#{product.creationDate}">Date de création :</label>
            <input type="date" th:field="*{creationDate}" />
            <br /><br />
        </div>

        <button type="submit" th:text="#{save}">Enregistrer</button>
    </form>

</body>

</html>