<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${store.id} == null ? #{store.form.add} : #{store.form.edit}">Formulaire Magasin</title>
</head>
<body>

<div th:insert="common/menu :: menu"></div>

<h2 th:text="${store.id} == null ? #{store.form.add} : #{store.form.edit}">
    Formulaire Magasin
</h2>

<form th:action="@{/stores}" th:object="${store}" method="post">
    <div>
        <label th:text="#{store.id}">Identifiant</label>
        <!-- The ID is read-only when editing an existing store, to avoid changing the unique key -->
        <input type="text" th:field="*{id}"
               th:readonly="${store.id} != null ? true : false" />
        <br /><br />
    </div>
    <div>
        <label th:text="#{store.address}">Adresse</label>
        <input type="text" th:field="*{address}" />
        <br /><br />
    </div>
    <div>
        <label th:text="#{store.phone}">Téléphone</label>
        <input type="text" th:field="*{phoneNumber}" />
        <br /><br />
    </div>

    
    <button type="submit" th:text="#{save}">Enregistrer</button>
</form>

</body>
</html>