<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{home.title}">Accueil</title>
    <div th:insert="~{common/menu :: header}"></div>
</head>
<body>

<!-- Insertion du menu -->
<div th:insert="~{common/menu :: menu}"></div>
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
            <div class="card-body">
                <p th:text="#{home.welcome}">Bienvenue sur ThymProducts, votre catalogue de produits.</p>  
            </div>
            </div>
        </div>
    </div>        
</div>

</body>
</html>
